* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.library-container {
  width: 80%;
  border-collapse: collapse;
  margin: auto;
}

th, td {
  border: 2px solid black;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f4f4f4;
}

th:first-child, td:first-child {
  width: 150px;
}

.book-card {
  border: 2px solid black;
  border-radius: 5px;
  height: 200px;
  aspect-ratio: 3 / 2;
}